/**
 * qty buttons
 * 
 * @product page
 * @update cart product
 * @update cart
**/

.qtyButton{
	line-height: 55px;
	margin-left: 7px;
	display: inline-block;
	background-color: #eeeeee;
	color: #333333;
	border: 0;
	cursor: pointer;
	padding: 0 25px;
	transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-moz-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-webkit-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
	-o-transition: color 300ms ease-in-out, background-color 300ms ease-in-out;
}
.qtyButton:hover{
	background-color: #3ec2df;
	color: #ffffff;
}
.add-to-cart .qty-wrapper input.qty{
	margin-right: 1px;
}

/**
 * compare link
 * 
 * @article list
 * @produkt page
**/
.link-compare{
	display: none !important;
}
/**
 * img logo
**/
.header-regular .logo-wrapper .logo img{
	min-width: 200px
}

/**
 * FB logo
**/
.customer-account-login h2{
	font-weight: bold;
	text-align: center;
}
body div.singsys-fbconnect-login .buttons-set{
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}
body div.singsys-fbconnect-facebook{
	height: 40px !important;
	position: relative;
	right: calc(50% - 94px);
}
body div.singsys-fbconnect-facebook-inner a{
	height: 21px !important;
}

























