<!--@subject Maureens Shipping module @-->

<div>
    <h1>Information for manual review</h1>
    <p>Order {{var order}} has been created.</p>
    <p>Shipping method: {{var shipping}}</p>
    <p>destination: {{var destination}}</p>
</div>