<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
  <div>
    <label><?php echo $this->__('M-Pesa Name') ?>*</label>
    <span>
      <input type="text" title="<?php echo $this->__('M-Pesa Name') ?>" name="payment[nano_mpesa_name]" value="<?php echo $this->htmlEscape($this->getInfoData('nano_mpesa_name')) ?>" />
    </span>
  </div>
  <div>
    <label><?php echo $this->__('M-Pesa Phone') ?>*</label>
    <span>
      <input type="text" title="<?php echo $this->__('M-Pesa Phone') ?>" name="payment[nano_mpesa_phone]" value="<?php echo $this->htmlEscape($this->getInfoData('nano_mpesa_phone')) ?>" />
    </span>
  </div>
</div>
<div>
    <?php echo $this->getMethod()->getConfigData('message');?>
</div>