<?php $billingInfo = unserialize($this->getMethod()->getInfoInstance()->getData('maureens_billing_info')); ?>
<?php $radioOptions = $this->getRadioOptions(); ?>
<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <?php
    $radioList = Mage::getStoreConfig('payment/' . $this->getMethodCode() . '/radio_list');
    if ($radioOptions) {
        $radioList = unserialize($radioList);
        if (is_array($radioList)) {
            foreach ($radioOptions as $radioLabel => $radioOption) :?>
                <div class="radio-wrapper">
                    <input type="radio" name="payment[maureens_billing_info][radio]" id="radio_<?php echo hash("md5",$radioLabel); ?>"
                           value="<?php echo $this->htmlEscape($radioOption['method']) ?>"
                           onchange="showInput(this.id)">
                    <input type="hidden" name="payment[maureens_billing_info][selected]" class="hidden radio_<?php echo hash("md5",$radioLabel); ?>"
                           value="<?php echo hash("md5",$radioLabel) ?>">
                    <label style="float:none;"
                           for="radio_<?php echo $key; ?>"><?php echo $radioLabel; ?></label>
                    <ul class="inner_radio radio_<?php echo hash("md5",$radioLabel); ?>" style="display:none;">
                    <?php foreach ($radioOption as $key => $input):?>
                        <li class="inner-input">
                        <?php switch ($input['radio_type']) {
                            case 'text': ?>
                                    <label><?php echo $this->__($input['input_label']) ?></label>
                                    <span>
                                    <input type="text" title="<?php echo $this->__($input['input_label']) ?>"
                                           name="payment[maureens_billing_info][text]"
                                           value="<?php echo (hash("md5",$radioLabel) == $billingInfo['selected']) ? $this->htmlEscape(isset($billingInfo['text']) ? $billingInfo['text'] : '') : '' ?>"
                                           placeholder="<?php echo $this->htmlEscape($input['input_placeholder']) ?>"/>
                                    </span>
                                <?php
                                break;
                            case 'phone': ?>
                                    <label><?php echo $this->__($input['input_label']) ?></label>
                                    <span>
                                    <input type="text" title="<?php echo $this->__($input['input_label']) ?>"
                                           name="payment[maureens_billing_info][phone]"
                                           value="<?php echo (hash("md5",$radioLabel) == $billingInfo['selected']) ? $this->htmlEscape(isset($billingInfo['text']) ? $billingInfo['text'] : '') : '' ?>"
                                           placeholder="<?php echo $this->htmlEscape($input['input_placeholder']) ?>"/>
                                </span>
                                <?php
                                break;
                            case 'hidden':
                                ?>
                                    <input type="hidden" name="payment[maureens_billing_info][hidden]"
                                           value="<?php echo $input['input_value'] ?>">
                                <?php
                                break;
                        } ?>
                        </li>
                    <?php endforeach;?>
                    </ul>
                </div>
                <?php
            endforeach;
        } else {
            // handle unserializing errors here
        }
    }
    ?>
