<div class="form-list" id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none;">
    <div>
        <label><?php echo $this->getInputLabel() ?></label>
        <span>
      <input type="text" title="<?php echo $this->getInputLabel() ?>" name="payment[maureens_billing_info]" value="<?php echo $this->htmlEscape($this->getInfoData('maureens_billing_info')) ?>" />
    </span>
    </div>
</div>