<?php $regionList = $this->getRegionList(); ?>
<?php $letterList = $this->getLetterList(); ?>
<?php $_code = $this->getMethodCode(); ?>
<?php $_rate = $this->getRate(); ?>
<?php $_shippingRateGroups = $this->getShippingRates(); ?>
<div class="maureens_shipping" <?php echo (count($_shippingRateGroups) == 1)?'':'style="display:none;"'?> disabled>
    <label for="shipping_form_<?php echo $_rate->getCode() ?>"><?php echo $this->getTitle() ?></label>
    <div class="field" style="">
        <div class="input-box">
            <select id="<?php echo $_rate->getCode() ?>" name="maureens[<?php echo $_rate->getCode() ?>]" onchange="showRadio(this.value)">
                <option value=""><?php echo $this->__('please choose') ?></option>
                <?php if ($regionList): ?>
                    <?php foreach ($regionList as $key => $region): ?>
                        <option value="<?php echo $key ?>"><?php echo $region['region_label'] ?></option>
                    <?php endforeach; ?>
                <?php endif; ?>
                <option value="<?php echo $_rate->getCode() ?>_other"><?php echo $this->__('Other'); ?></option>
            </select>
        </div>
        <div class="radios">
            <?php foreach ($regionList as $key => $region): ?>
                <div class="region_option" id="<?php echo $key ?>" style="display:none;">
                    <?php foreach ($region['region_options'] as $option): ?>
                        <input type="radio" name="maureens[<?php echo $_rate->getCode() ?>][<?php echo $region['region_label'] ?>]" value="<?php echo $option ?>" onchange="hideNil()"> <?php echo $option ?><br>
                    <?php endforeach; ?>
                </div>
            <?php endforeach; ?>
        </div>
        <div class="letters" id="<?php echo $_rate->getCode() ?>_other" style="display:none;">
            <select id="<?php echo $_rate->getCode() ?>_letters" name="maureens[<?php echo $_rate->getCode() ?>][letters]" onchange="showRadioLetters(this)">
                <option value=""><?php echo $this->__('please choose') ?></option>
                <?php if ($letterList): ?>
                    <?php foreach ($letterList as $key => $region): ?>
                        <option value="<?php echo $key ?>"><?php echo $region['region_letter'] ?></option>
                    <?php endforeach; ?>
                <?php endif; ?>
            </select>
            <div class="radios">
                <?php foreach ($letterList as $key => $region): ?>
                    <div class="region_option" id="<?php echo $key ?>" style="display:none;">
                        <?php foreach ($region['region_options'] as $option): ?>
                            <input type="radio" name="maureens[<?php echo $_rate->getCode() ?>][<?php echo $region['region_letter'] ?>]" value="<?php echo $option ?>" onchange="hideNil()"> <?php echo $option ?><br>
                        <?php endforeach; ?>
                    </div>
                <?php endforeach; ?>
            </div>
        </div>
    </div>
</div>
