<?php $regionList = $this->getRegionList(); ?>
<?php $_code = $this->getMethodCode(); ?>
<?php $_rate = $this->getRate(); ?>
<?php $_shippingRateGroups = $this->getShippingRates(); ?>
<div class="maureens_shipping" <?php echo (count($_shippingRateGroups) == 1)?'':'style="display:none;"'?> disabled>
    <label for="shipping_form_<?php echo $_rate->getCode() ?>"><?php echo $this->getTitle() ?></label>
    <div class="field" style="">
        <div class="radios">
            <?php if ($regionList): ?>
                <?php foreach ($regionList as $key => $region): ?>
                    <input type="radio" name="maureens[<?php echo $_rate->getCode() ?>][region]" value="<?php echo $region ?>" onchange="hideNil1()"> <?php echo $region ?><br>
                <?php endforeach; ?>
            <?php endif; ?>
            <?php if ($this->showNotInList()): ?>
                <input type="radio" name="maureens[<?php echo $_rate->getCode() ?>][region]" value="not-in-list" onchange="showNil1()"> <?php echo $this->__('Not in list'); ?><br>
            <?php endif; ?>
            <textarea id="nil2" name="maureens[<?php echo $_rate->getCode() ?>][not-in-list]" placeholder="City and Address of Bus Office" style="display: none;"></textarea>
        </div>
    </div>
</div>
