<?php $regionList = $this->getRegionList(); ?>
<?php $_code = $this->getMethodCode(); ?>
<?php $_rate = $this->getRate(); ?>
<?php $_shippingRateGroups = $this->getShippingRates(); ?>
<div class="maureens_shipping" <?php echo (count($_shippingRateGroups) == 1)?'':'style="display:none;"'?> disabled>
    <label for="shipping_form_<?php echo $_rate->getCode() ?>"><?php echo $this->getTitle() ?></label>
    <div class="field" style="">
        <div class="input-box">
            <select id="moder_coast_1" name="maureens[<?php echo $_rate->getCode() ?>]" onchange="showRadio(this.value)">
                <option value=""><?php echo $this->__('please choose') ?></option>
                <?php if ($regionList): ?>
                    <?php foreach ($regionList as $key => $region): ?>
                        <option value="<?php echo $key ?>"><?php echo $region['region_label'] ?></option>
                    <?php endforeach; ?>
                <?php endif; ?>
            </select>
        </div>
        <div class="radios">
            <?php foreach ($regionList as $key => $region): ?>
                <div class="region_option" id="<?php echo $key ?>" style="display:none;">
                    <?php foreach ($region['region_options'] as $option): ?>
                        <input type="radio" name="maureens[<?php echo $_rate->getCode() ?>][<?php echo $region['region_label'] ?>]" value="<?php echo $option ?>" onchange="hideNil()"> <?php echo $option ?><br>
                    <?php endforeach; ?>

                    <?php if ($this->showNotInList()): ?>
                        <input type="radio" name="maureens[<?php echo $_rate->getCode() ?>][<?php echo $region['region_label'] ?>]" value="not-in-list" onchange="showNil()"> <?php echo $this->__('Not in list'); ?><br>
                    <?php endif; ?>
                </div>
            <?php endforeach; ?>
            <textarea id="nil" name="maureens[<?php echo $_rate->getCode() ?>][not-in-list]" placeholder="City and Address of Bus Office" style="display: none;"></textarea>
        </div>
    </div>
</div>
